/* add syntax highlight styles */
@import url("syntax-highlighting.css");



html {
	-ms-text-size-adjust: 100%; /* 2 */
	-webkit-text-size-adjust: 100%; /* 2 */
	background: #F8F4F1;
    margin: 0;
    padding: 0;
    min-width: 300px;
}




body {
	font-family: "trade-gothic-next", sans-serif;
	font-weight: 300;
	font-style: normal;
	background: white;
	direction: ltr;
    margin: 0;
    padding: 0;
    min-width: 300px;
}



@media only screen and (min-width: 1200px) {

	body {
		width: 80%;
		margin: 0 auto;
		max-width: 1800px;
	}
}


h1, h2, h3, h4, h5, h6 {
	font-family: "trade-gothic-next", sans-serif;
	font-weight: 300;
	font-style: normal;
}

article h2 {
	font-family: "trade-gothic-next", sans-serif;
	font-size: 32px;
    color: #222222;
}

@media only screen and (max-width: 1200px) {

	article h2 {
		font-size: 20px;
	    color: #222222;
	}
}

article h2 a {
	text-decoration:none;
}

header h2 {
	letter-spacing: 0px;
	padding: 0px 0px 0px 0px;
	margin: 0px;

}


.header {
	font-family: "trade-gothic-next", sans-serif;
	font-weight: 300;
	font-style: normal;
	color: #222222;
	font-size: 16px;
	padding-bottom: 16px;
}


.header a {
	color: #222222;
}



.thumb_post {
	height: 200px;
	width: 100%;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-position-y: center;
	filter: saturate(0);
	transition: all 0.2s;
}


.thumb_post:hover {
	filter: saturate(1);
	border: none;
}















.tag_cloud li {
	font-family: "trade-gothic-next", sans-serif;
	font-weight: 300;
	font-style: normal;
    letter-spacing: .75px;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 10px;
    background: #EFEDDE;
    color: #444;
    margin-right: 6px;
    margin-top: 10px;
    padding: 4px 8px 4px 8px;
    border-radius: 2px;
}

.home_footer {
    margin: 0px 0px;
    padding: 8px 0px 20px 0px;
}


@media screen and (max-width: 800px) {

	.home_footer {
		display: none;
	}
}


.posts {
    float: right;
    display: flex;
    width: 100%;
    gap: 2%;
    flex-direction: row;
    padding-right: 2.5%;
    flex-wrap: wrap;
    justify-content: flex-start;
}

@media screen and (max-width: 800px) {
	.posts {
	    float: right;
	    display: flex;
	    gap: 20px;
	    flex-direction: column;
	    padding-right: 2.5%;
	    flex-wrap: wrap;
	    justify-content: flex-start;
	}
}

.posts, .archive {
	padding: 0 20px;
}

.post-links {
	width: 100%;
}



p img {
    max-width: 100%;
    display: block;
    height: auto;
    width: -webkit-fill-available;
    margin: 20px auto 20px auto;
}

.post_image img {
	max-width: 100%;
    display: block;
    height: auto;
    width: -webkit-fill-available;
    margin: 20px auto 20px auto;
}



article {
    display: block;
    width: -webkit-fill-available;
}






.right_container {
    width: 78%;
    float: right;
    display: flex;
    flex-direction: row;
    /* padding-right: 2.5%; */
    padding-top: 24px;
}

@media screen and (max-width: 800px) {
	.right_container {
		width: 100%;
		float: right;
		display: flex;
		flex-direction: column;
		/*padding-right: 2.5%;*/
	}
}



.post_block {
	display: flex;
	flex-direction: column;
	width: 48%;
}

@media screen and (max-width: 800px) {
	.post_block {
		display: flex;
		flex-direction: column;
		width: 100%;
	}
}


.post_tag {
	font-family: "trade-gothic-next", sans-serif;
    font-weight: 300;
    font-style: normal;
    letter-spacing: .75px;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 10px;
    background: #eeeeee;
    color: #444;
    margin-right: 6px;
    margin-top: 10px;
    padding: 2px 4px 2px 4px;
    border-radius: 2px;
    border-left: solid 1px #cccccc;
}


.tag-cloud {
    max-width: 100%;
	margin-top: 20px;
}

.tag-cloud li {
	display: inline-block;
	margin-right: 4px;
	margin-bottom: 10px;
}

.tag-cloud a {
    font-family: "trade-gothic-next", sans-serif;
    font-weight: 300;
    font-style: normal;
    letter-spacing: .75px;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 10px;
    background: #eeeeee;
    color: #444;
/*    margin-right: 6px;
    margin-top: 10px;*/
    padding: 4px 8px 6px 6px;
    border-radius: 2px;
    border-left: solid 1px #cccccc;
}






@media only screen and (min-width: 800px) {


	nav {
		background: none;
		margin-bottom: 2em;
	}


	nav ul {
		padding: 0;
		margin: 0;
		list-style: none;
		min-height: 0;
	}

	nav li {
		display: inline-block;
		width: 24%;
		text-align: left;
	}

	nav li a {
		font-family: letter-gothic-std, monospace;
		font-weight: 200;
		font-style: normal;
		font-size: 14px;
		width: 100%;
		text-transform: uppercase;
		border: 1px solid #222222;
		color: white;
		background: #222222;
		margin-right: 0.5em;
		padding: 6px 10px;
		display: inline-block;
		text-decoration: none;
		letter-spacing: 0.1em;
	}

	nav li a:hover {
		color: #222222;
		background: #FFF;
		border: 1px solid #222222;
		border-collapse: collapse;
	}
}


nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
	min-height: 0;
}

nav li {
	padding: 0;
	margin: 0;
	list-style: none;
	min-height: 0;
}

nav li a {
	font-family: "trade-gothic-next", sans-serif;
	font-weight: 300;
	font-style: normal;
	color: white;
	text-decoration: none;
	letter-spacing: 0.1em;
}

nav li a {
    font-family: "trade-gothic-next", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 14px;
    text-transform: uppercase;
    border: 1px solid #222222;
    color: white;
    background: #222222;
    margin-right: 0.5em;
    padding: 6px 10px;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 2px;
}

.toggle-label {
    font-family: "trade-gothic-next", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 14px;
    text-transform: uppercase;
    border: 1px solid #222222;
    color: white;
    background: #222222;
    margin-right: 0.5em;
    padding: 6px 10px;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 2px;
}


@media only screen and (min-width: 800px) {

	nav {
		background: none;
		margin-bottom: 2em;
	}


	nav ul {
		padding: 0;
		margin: 0;
		list-style: none;
		min-height: 0;
	}

	nav li {
		display: inline-block;
		width: 24%;
		text-align: left;
	}

	nav li a {
		font-family: letter-gothic-std, monospace;
		font-weight: 200;
		font-style: normal;
		font-size: 14px;
		width: 100%;
		text-transform: uppercase;
		border: 1px solid #222222;
		color: white;
		background: #222222;
		margin-right: 0.5em;
		padding: 6px 10px;
		display: inline-block;
		text-decoration: none;
		letter-spacing: 0.1em;
	}

	nav li a:hover {
		color: #222222;
		background: #FFF;
		border: 1px solid #222222;
		border-collapse: collapse;
	}

}


@media only screen and (max-width: 800px) {

	nav {
		background: none;
		margin-bottom: 1em;
	}

	nav ul {
		display: none;
	}

	nav li {
		background: #222222;
		margin-bottom: .2em;
	}

	nav li:hover {
		background: #333;
	}

	nav li a {
		font-family: letter-gothic-std, monospace;
		font-size: 1.2em;
		font-weight: 400;
		text-transform: uppercase;
		margin: 0;
		margin-bottom: 0.2em;
		padding: .5em 0;
		display: block;
		max-width: 5em;
		text-align: center;
		max-width: 100%;
		width:100%;
	}

	nav li a:hover {
		color: white;
	}

}








aside {
	text-decoration: none;
    display: flex;
    flex-direction: column;
    width: 20%;
    float: left;
	padding: 10px 0px 10px 40px;
    overflow-y: auto;
}

aside h3 {
    color: #4d4d4d;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 14px;
    margin-bottom: 10px;
}


aside ul {
	font-family: "trade-gothic-next", sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 14px;
	margin-left: 0px;
	list-style: none;
	padding: 0;
	margin:0;
	text-decoration: none;
}

aside li {
	margin-bottom: 0.5em;
	text-decoration: none;
}

@media only screen and (max-width: 800px) {
	aside {
		display: none;
	}
}










/*   ARCHIVE STYLES     */



.archive {
	display: flex;
	flex-direction: row;
	padding-right: 2.5%;
	
}


.archive ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.archive h3 {
	font-size: 20px;
}

.archive h3:target {
	font-size: 20px;
	color: red;
}

.archive li {
	margin-bottom: 0.5em;
}



.return {
	display: none;

}

h3:target + .taglist .return {
	display: block;
	padding-top: 8px;
}

.return a {
	font-family: "trade-gothic-next", sans-serif;
	font-weight: 400;
	font-size: 12px;
	text-decoration: none;
	color: red;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.return a:before {
	content: '\25b2\00a0';
}

.taglist li {
	font-family: letter-gothic-std, monospace;
	font-weight: 200;
	font-style: normal;
	font-size: 14px;

}

.tag_title {
	font-family: "trade-gothic-next", sans-serif;
	font-weight: 200;
	font-style: normal;
	font-size: 20px;
}







