/* add syntax highlight styles */
@import url("syntax-highlighting.css");

/* reset margins */
html, body, div, span, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, header, hgroup, menu, nav, output, section, summary, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
    text-overflow: ellipsis;
}

html {
	-ms-text-size-adjust: 100%; /* 2 */
	-webkit-text-size-adjust: 100%; /* 2 */
	background: #F8F4F1;
    margin: 0;
    padding: 0;
    min-width: 300px;
}




body {
	font-family: "trade-gothic-next", sans-serif;
	font-weight: 300;
	font-style: normal;
	background: white;
	direction: ltr;
    margin: 0;
    padding: 0;
    min-width: 300px;
}



@media only screen and (min-width: 1200px) {

	body {
		width: 100%;
		margin: 0 auto;
		max-width: 1800px;
	}
}


h1, h2, h3, h4, h5, h6 {
	font-family: "trade-gothic-next", sans-serif;
	font-weight: 300;
	font-style: normal;
}

article h2 {
	font-family: "trade-gothic-next", sans-serif;
	font-size: 32px;
    color: #222222;
}

@media only screen and (max-width: 1200px) {

	article h2 {
		font-size: 20px;
	    color: #222222;
	}
}

article h2 a {
	text-decoration:none;
}

header h2 {
	letter-spacing: 0px;
	padding: 0px 0px 0px 0px;
	margin: 0px;

}


.header {
	font-family: "trade-gothic-next", sans-serif;
	font-weight: 300;
	font-style: normal;
	color: #222222;
	font-size: 16px;
	padding-bottom: 16px;
}


.header a {
	color: #222222;
}

.logo {
	width: 300px;
}

.logo img {
	width: 300px;
}

@media screen and (max-width: 800px) {

	.logo {
		width: 100%;
		display: block;
	}
	.logo img {
		width: 100%;
	}
}



.thumb_post {
	height: 320px;
	width: 100%;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-position-y: center;
	filter: saturate(0.8);
	transition: all 0.2s;
}

@media screen and (max-width: 1000px) {
	.thumb_post {
		height: 300px;
	}
}


@media screen and (max-width: 800px) {
	.thumb_post {
		height: 200px;
		filter: saturate(1);
	}
}


.thumb_post:hover {
	filter: saturate(1);
	border: none;
}



.post_title {
	font-family: "trade-gothic-next", sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 32px;
    color: #222222;
	letter-spacing: 0px;
	padding: 0px 0px 8px 0px;
	margin: 0px;
}

@media screen and (max-width: 800px) {
	.post_title {
		font-size: 24px;
	}
}




.date_line {
	font-family: letter-gothic-std, monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    line-height: 18px;
    color: #666;
    text-transform: uppercase;
    margin-block-start: 40px;
    /* margin-block-end: 10px; */
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    /* border-bottom: 1px dashed #cccccc; */
    padding-bottom: 2px;
}

.link_line {
	font-family: letter-gothic-std, monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    line-height: 18px;
    color: #666;
    display: block;
    /* text-transform: uppercase; */
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}






.page_header {
	display: block;
    margin-bottom: 20px;
    width: fit-content;
    border-left: none;
    padding: 4px auto;
}

@media screen and (max-width: 600px) {

	.page_header {
		display: block;
	    margin-bottom: 20px;
	    width: fit-content;
	    /*border-left: 2px solid #888;*/
	    padding: 4px 8px;
	}
}

@media screen and (max-width: 400px) {

	.page_header {
		display: block;
	    margin-bottom: 20px;
	    width: fit-content;
	    /*border-left: 2px solid #888;*/
	    padding: 4px 8px;
	}
}

.page_link {
	display: block;
	height: 24px;
}







article header {
    padding-bottom: 0px;
    display: block;
    margin-bottom: 0px;
    width: fit-content;
    border-left: 2px solid #888;
    padding-left: 20px;
}

@media screen and (max-width: 600px) {

	article header {
	    padding-bottom: 0px;
	    display: block;
	    margin-bottom: 0px;
	    width: fit-content;
	    border-left: 2px solid #888;
	    padding-left: 20px;
	}
}

article header a {
	display: block;
}





hr {
    display: block;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: .5px;
}






























.tag_cloud li {
	font-family: "trade-gothic-next", sans-serif;
	font-weight: 300;
	font-style: normal;
    letter-spacing: .75px;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 10px;
    background: #EFEDDE;
    color: #444;
    margin-right: 6px;
    margin-top: 10px;
    padding: 4px 8px 4px 8px;
    border-radius: 2px;
}

.home_footer {
    margin: 0px 0px;
    padding: 8px 0px 20px 0px;
}


@media screen and (max-width: 800px) {

	.home_footer {
		display: none;
	}
}

.post-footer {
    margin: 0px 0px;
    padding: 8px 0px 20px 0px;
}



.posts {
    float: right;
    display: flex;
    width: 100%;
    gap: 2%;
    flex-direction: row;
    padding: 0 20px;
    flex-wrap: wrap;
    justify-content: flex-start;
}

@media screen and (max-width: 800px) {
	.posts {
        float: right;
        display: flex;
        gap: 20px;
        padding: 0 20px;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
	}
}

@media screen and (max-width: 600px) {
	.posts {
        float: right;
        display: flex;
        gap: 20px;
        padding: 0 8px;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
	}
}

.archive {
	padding: 0 20px;
}

@media screen and (max-width: 800px) {
	.archive {
		padding: 0 8px;
	}
}

.post-links {
	width: 100%;
	padding-top: 100px;
}



















div {
    display: flex;
    unicode-bidi: isolate;
}

@media screen and (max-width: 600px) {
	div {
	    display: block;
	}
}






p img {
	max-width: 100%;
    display: block;
    height: auto;
    width: -webkit-fill-available;
    margin: auto;
}

.post_image {
    margin: 20px auto;
}


@media screen and (max-width: 600px) {
	.post_image {
	    margin: 8px auto;
	}
}

.post_image_rounded {
    margin: 20px auto;
}


@media screen and (max-width: 600px) {
	.post_image_rounded {
	    margin: 8px auto;
	}
}




.post_image img {
	max-width: 100%;
    display: block;
    height: auto;
    width: -webkit-fill-available;
    margin: auto;
}


@media screen and (max-width: 800px) {
	.post_image img {
	    margin: auto;
	}
}


.post_image_rounded img {
	max-width: 100%;
    display: block;
    height: auto;
    width: -webkit-fill-available;
	border-radius: 10px;
}


@media screen and (max-width: 800px) {
	.post_image_rounded img {
	    margin: auto;
	    border-radius: 4px;
	}
}



/*div .post_image_flex img {
    max-width: 100%;
    display: flex;
    height: auto;
    width: -webkit-fill-available;
    border-radius: 10px;
}


@media screen and (max-width: 800px) {
	div .post_image_flex img {
	    border-radius: 4px;
	}
}

media screen and (max-width: 600px) {
    div .post_image_flex img {
        border-radius: none;
        margin: 8px auto;
    }
}





div .post_tiled {  
	dispay: flex;
	flex-direction: column;
	margin-top: 20px;
	gap: 20px;
}

@media screen and (max-width: 600px) {
	div .post_tiled {  
		dispay: flex;
		flex-direction: column;
		margin-top: 8px;
		gap: 8px;
	}
}

div .post_row {  
	dispay: flex;
	flex-direction: row;
	gap: 20px;
}


@media screen and (max-width: 600px) {
	div .post_row {  
		gap: 8px;
	}
}
*/

























.lost_container {
	font-family: "trade-gothic-next", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 48px;
    line-height: 56px;
    padding: 100px;
	margin: auto;
	max-width: 800px;
	text-align: center;
}




@media screen and (max-width: 800px) {
	.lost_container {
		font-family: "trade-gothic-next", sans-serif;
	    font-weight: 300;
	    font-style: normal;
	    font-size: 32px;
	    line-height: 40px;
	    padding: 48px;
		max-width: 800px;
		text-align: center;
	}

}




article {
    display: block;
    width: -webkit-fill-available;
}






.right_container {
    width: 78%;
    float: right;
    display: flex;
    flex-direction: row;
    /* padding-right: 2.5%; */
    padding-top: 24px;
    padding-bottom: 60px;
}

@media screen and (max-width: 800px) {
	.right_container {
		width: 100%;
		float: right;
		display: flex;
		flex-direction: column;
		/*padding-right: 2.5%;*/
		padding-top: 16px;
    	padding-bottom: 60px;
	}
}



.post_block {
	display: flex;
	flex-direction: column;
	width: 48%;
}

@media screen and (max-width: 800px) {
	.post_block {
		display: flex;
		flex-direction: column;
		width: 100%;
	}
}


.post_tag {
	font-family: "trade-gothic-next", sans-serif;
    font-weight: 300;
    font-style: normal;
    letter-spacing: .75px;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 10px;
    background: #eeeeee;
    color: #444;
    margin-right: 6px;
    margin-top: 10px;
    padding: 2px 4px 2px 4px;
    border-radius: 2px;
    border-left: solid 1px #cccccc;
}


.tag-cloud {
    max-width: 100%;
	margin-top: 20px;
}

.tag-cloud li {
	display: inline-block;
	margin-right: 4px;
	margin-bottom: 10px;
}

.tag-cloud a {
    font-family: "trade-gothic-next", sans-serif;
    font-weight: 300;
    font-style: normal;
    letter-spacing: .75px;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 10px;
    background: #eeeeee;
    color: #444;
/*    margin-right: 6px;
    margin-top: 10px;*/
    padding: 4px 8px 6px 6px;
    border-radius: 2px;
    border-left: solid 1px #cccccc;
}






@media only screen and (min-width: 800px) {


	nav {
		background: none;
		margin-bottom: 2em;
	}


	nav ul {
		padding: 0;
		margin: 0;
		list-style: none;
		min-height: 0;
	}

	nav li {
		display: inline-block;
		width: 24%;
		text-align: left;
	}

	nav li a {
		font-family: letter-gothic-std, monospace;
		font-weight: 200;
		font-style: normal;
		font-size: 14px;
		width: 100%;
		text-transform: uppercase;
		border: 1px solid #222222;
		color: white;
		background: #222222;
		margin-right: 0.5em;
		padding: 6px 10px;
		display: inline-block;
		text-decoration: none;
		letter-spacing: 0.1em;
	}

	nav li a:hover {
		color: #222222;
		background: #FFF;
		border: 1px solid #222222;
		border-collapse: collapse;
	}
}


nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
	min-height: 0;
}

nav li {
	padding: 0;
	margin: 0;
	list-style: none;
	min-height: 0;
}

nav li a {
	font-family: "trade-gothic-next", sans-serif;
	font-weight: 300;
	font-style: normal;
	color: white;
	text-decoration: none;
	letter-spacing: 0.1em;
}

nav li a {
    font-family: "trade-gothic-next", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 14px;
    text-transform: uppercase;
    border: 1px solid #222222;
    color: white;
    background: #222222;
    margin-right: 0.5em;
    padding: 6px 10px;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 2px;
}

.toggle-label {
    font-family: "trade-gothic-next", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 14px;
    text-transform: uppercase;
    border: 1px solid #222222;
    color: white;
    background: #222222;
    margin-right: 0.5em;
    padding: 6px 10px;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 2px;
}


@media only screen and (min-width: 800px) {

	nav {
		background: none;
		margin-bottom: 2em;
	}


	nav ul {
		padding: 0;
		margin: 0;
		list-style: none;
		min-height: 0;
	}

	nav li {
		display: inline-block;
		width: 24%;
		text-align: left;
	}

	nav li a {
		font-family: letter-gothic-std, monospace;
		font-weight: 200;
		font-style: normal;
		font-size: 14px;
		width: 100%;
		text-transform: uppercase;
		border: 1px solid #222222;
		color: white;
		background: #222222;
		margin-right: 0.5em;
		padding: 6px 10px;
		display: inline-block;
		text-decoration: none;
		letter-spacing: 0.1em;
	}

	nav li a:hover {
		color: #222222;
		background: #FFF;
		border: 1px solid #222222;
		border-collapse: collapse;
	}

}


@media only screen and (max-width: 800px) {

	nav {
		background: none;
		margin-bottom: 0px;
	}

	nav ul {
		display: none;
	}

	nav li {
		background: #222222;
		margin-bottom: .2em;
	}

	nav li:hover {
		background: #333;
	}

	nav li a {
		font-family: letter-gothic-std, monospace;
		font-size: 1.2em;
		font-weight: 400;
		text-transform: uppercase;
		margin: 0;
		margin-bottom: 0.2em;
		padding: .5em 0;
		display: block;
		max-width: 5em;
		text-align: center;
		max-width: 100%;
		width:100%;
	}

	nav li a:hover {
		color: white;
	}

}



.tagline {
	font-family: letter-gothic-std, monospace;
	font-weight: 400;
	font-style: normal;
	font-size: 13px;
	line-height: 18px;
    color: #666;
    text-transform: uppercase;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

@media only screen and (max-width: 800px) {
	.tagline {
		display: none;
	}
}

.page-header {
	padding: 40px 0px 10px 40px;
}



@media only screen and (max-width: 1000px) {
	.page-header {
		padding: 20px 20px 10px 20px;
	}
}

@media only screen and (max-width: 800px) {
    .page-header {
		padding: 20px 20px 10px 20px;
    }
}

@media only screen and (max-width: 600px) {
    .page-header {
		padding: 16px 16px 10px 16px;
    }
}

header h1 {
	font-size: 40px;
	letter-spacing: 0px;
	margin: 0;
	padding-bottom: 0px;
	text-transform: uppercase;
}

header p {
	font-family: "trade-gothic-next", sans-serif;
	font-weight: 300;
	font-style: normal;
	color: #666;
	text-transform: uppercase;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}





aside {
	text-decoration: none;
    display: flex;
    flex-direction: column;
    width: 20%;
    float: left;
	padding: 10px 0px 10px 40px;
    overflow-y: auto;
}

aside h3 {
    color: #4d4d4d;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 14px;
    margin-bottom: 10px;
}


aside ul {
	font-family: "trade-gothic-next", sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 14px;
	margin-left: 0px;
	list-style: none;
	padding: 0;
	margin:0;
	text-decoration: none;
}

aside li {
	margin-bottom: 0.5em;
	text-decoration: none;
}

@media only screen and (max-width: 1000px) {
	aside {
	padding: 10px 0px 10px 20px;
	}
}


@media only screen and (max-width: 800px) {
	aside {
		display: none;
	}
}












/*   ARCHIVE STYLES     */



.archive {
	display: flex;
	flex-direction: row;
	padding-right: 2.5%;
	
}


.archive ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

/*.archive h3 {
	font-size: 20px;
}*/

.archive h3:target {
/*	font-size: 20px;*/
	color: red;
}

/*.archive li {
	margin-bottom: 0.5em;
}*/



.return {
	display: none;

}


h3:target + .taglist .return {
	display: block;
	padding-top: 8px;
}

.return a {
	font-family: "trade-gothic-next", sans-serif;
	font-weight: 400;
	font-size: 12px;
	text-decoration: none;
	color: red;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.return a:before {
	content: '\25b2\00a0';
}

.taglist li {
	font-family: letter-gothic-std, monospace;
	font-weight: 200;
	font-style: normal;
	font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	margin-bottom: 0.5em;
}

.tag_title {
	font-family: "trade-gothic-next", sans-serif;
	font-weight: 200;
	font-style: normal;
	font-size: 20px;
    display: block;
    font-size: 1.17em;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
	margin: 20px auto 10px auto;
}






.highlight2 { 
	font-family: monospace;
	font-size: 14px;
    line-height: 22px;
    color: #222222;
    padding: 20px 20px;
    border-left: 4px solid #222222;
    background: #F8F4F1;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    width: 100%;
}


@media only screen and (max-width: 800px) {
	.highlight2 {
	    font-size: 12px;
	    padding: 8px 12px;
	    border-left: 2px solid #222222;
	}
}

.info_container {
	display: flex;
	flex-direction: column;
	margin: 20px auto 20px auto;
	gap: 8px;
}

@media only screen and (max-width: 800px) {
	.info_container {
		margin: 20px auto 8px auto;
	}
}





.pagination {
	font-family: letter-gothic-std, monospace;
	font-weight: 800;
	width: 100%;
	display: flex;
	justify-content: space-between;
	font-size: 16px;
	text-transform: uppercase;
    padding: 80px 0px;
}

.prevLink {
	float: left;
	width: 40%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nextLink {
	float: right;
	width: 40%;
	text-align: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}




