---
layout: home
title: triteyed
description: "A reference repository."
---


<main role="main" class="cf">





<div class="right_container">



 	




<div class="row">
	{% for post in paginator.posts limit:24 %}
	<div class="column">
    <div class="card" style="background-image: url( {{ site.baseurl }}/images/{{ post.image }} );">
				<div class="title">
					{% if post.alt %}
						<a href="{{site.baseurl}}{{post.url}}" rel="bookmark" title="Permanent Link to {{site.baseurl}}{{post.url}}">{{ post.alt }}</a>
					{% else %}
						<a href="{{site.baseurl}}{{post.url}}" rel="bookmark" title="Permanent Link to {{site.baseurl}}{{post.url}}">{{ post.title }} {% if post.author %}{% endif %}</a>
					{% endif %}
				</div>
			<a href="{{site.baseurl}}{{post.url}}">
			</a>
		</div>
	</div>
	{% endfor %}
</div>






</div>





</main>

