---
layout: home
title: LULLDULL
description: "A reference repository."
---


<main role="main" class="cf">





<div class="right_container">



  <article class="posts"> {% for post in paginator.posts limit:24 %}
 	

	 	<article class="post_block">

		 	<div class="post_block_inner">
		 		
		 		<div class="post_block_right_info">


					<div class="header">
						{% if post.alt %}
							<a href="{{site.baseurl}}{{post.url}}" rel="bookmark" title="Permanent Link to {{site.baseurl}}{{post.url}}">{{ post.alt }}</a>
						{% else %}
							<a href="{{site.baseurl}}{{post.url}}" rel="bookmark" title="Permanent Link to {{site.baseurl}}{{post.url}}">{{ post.title }} {% if post.author %}{% endif %}</a>
						{% endif %}
					</div>


			<div class="post_block_right">
					<a href="{{site.baseurl}}{{post.url}}" title="{{ post.title }}">
						<div class="thumb_post" style="background-image: url( {{ site.baseurl }}/images/{{ post.image }} );"></div>
					</a>
			</div>

				</div>
			</div>




    </article>



	{% endfor %}

			<!-- Pagination links -->
		<div class="pagination">
			{% if paginator.previous_page %}
			<a href="{{ paginator.previous_page_path }}" class="previous">back</a>
			{% else %}
			<span class="previous"></span>
			{% endif %}
			<span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span>
			{% if paginator.next_page %}
			<a href="{{ paginator.next_page_path }}" class="next">next</a>
			{% else %}
			<span class="next "></span>
		{% endif %}
		</div>

</div>






	</article>

</main>

