---
layout: home
title: triteyed
description: "A reference repository."
---


<main role="main" class="cf">








<div class="grid">
	{% for post in paginator.posts limit:24 %}
	<a href="{{site.baseurl}}{{post.url}}">
  <div class="item" style="background-image: url( {{ site.baseurl }}/images/{{ post.image }} );">
			<div class="title">
			{{ post.title }}
			</div>
  </div>
</a>
	{% endfor %}

</div>

<div class="fancy_table" style="overflow-x: auto;">
	<table>
		<tr>
			<th class="menu_header">Title</th>
			<th class="menu_header">Location</th>
			<th class="menu_header">Category</th>
			<th class="menu_header">Year</th>
			<th class="menu_header">Date</th>
		</tr>
	{% assign posts = site.posts %}
	{% for post in paginator.posts limit:100 %}
		<tr class="menu_row" style="transform: rotate(0);">
			<td class="menu_data">{{post.title}}</td>
			<td class="menu_data">{{post.loc}}</td>
			<td class="menu_data">{{post.category}}</td>
			<td class="menu_data">{{post.year}}</td>
			<td class="menu_data">{{post.date}}</td>
		</tr>
	{% endfor %}

	</table>
</div>




</main>

