<!-- <footer role="contentinfo" class="page-footer">
<p class="top-link"><a href="#top">top</a></p>
<p class="legal">&copy; 2024 LULLDULL</p>
</footer> -->



<!-- <div class="footer_container">
	<div class="footer_column">
		<div class="footer_text">
			&copy; 2024 Lulldull
		</div>
	</div>
	<div class="footer_column">
		<div class="footer_text">
			kljsdkfjdlfjkdlfjsdfljks
		</div>
	</div>
	<div class="footer_column">
		<div class="footer_text">
			<a href="#top">Back to top</a>
		</div>
	</div>
</div> -->


<div class="footer_container">

	<div class="footer_column">
		<div class="footer_title">
			<a href="#top">Return to top</a>
		</div>

	</div>

	<div class="footer_column">
				<div class="footer_title">
					Common Topics
				</div>
					<div class="post_tag3">
						<a href="/tags/index.html#design" title="Posts tagged design">Design</a>
					</div>
								
					<div class="post_tag3">
						<a href="/tags/index.html#data" title="Posts tagged data">Data</a>
					</div>
				 
					<div class="post_tag3">
						<a href="/tags/index.html#mapping" title="Posts tagged mapping">Mapping</a>
					</div>

					<div class="post_tag3">
						<a href="/tags/index.html#stamps" title="Posts tagged mapping">Stamps</a>
					</div>
				 
					<div class="post_tag3">
						<a href="/tags/index.html#information" title="Posts tagged information">Information</a>
					</div>
				 
					<div class="post_tag3">
						<a href="/tags/index.html#book" title="Posts tagged book">Book</a>
					</div>
				 
					<div class="post_tag3">
						<a href="/tags/index.html#typography" title="Posts tagged typography">Typography</a>
					</div>
				 
					<div class="post_tag3">
						<a href="/tags/index.html#illustration" title="Posts tagged illustration">Illustration</a>
					</div>
	</div>

	<div class="footer_column">
		<div class="footer_title">
			About Lulldull
		</div>
		<div class="footer_text">
			This is a repository for research/references made in relation to client-based work. A majority of what's shown here is from books I source or examples I stumble upon during the process.
		</div>
		<div class="footer_text" style="padding-top:20px">
			&copy; 2024 Lulldull
		</div>
	</div>

</div>