<!-- <footer role="contentinfo" class="page-footer">
<p class="top-link"><a href="#top">top</a></p>
<p class="legal">&copy; 2024 LULLDULL</p>
</footer> -->



<div class="footer_container">
	<div class="footer_column">
		<div class="footer_text">
			&copy; 2024 Lulldull
		</div>
	</div>
	<div class="footer_column">
		<div class="footer_text">
			kljsdkfjdlfjkdlfjsdfljks
		</div>
	</div>
	<div class="footer_column">
		<div class="footer_text">
			<a href="#top">Back to top</a>
		</div>
	</div>
</div>
