<!-- <footer role="contentinfo" class="page-footer">
<p class="top-link"><a href="#top">top</a></p>
<p class="legal">&copy; 2024 LULLDULL</p>
</footer> -->



<div class="footer_container">
	<div class="footer_column">
		<div class="footer_text">
			This is a repository for research/references made in relation to client-based work. A majority of what's shown here is from books I source or examples I stumble upon during the process.
		</div>
	</div>
	<div class="footer_column">
		<div class="footer_text">
			&copy; 2024 Lulldull
		</div>
	</div>
	<div class="footer_column">
		<div class="footer_text">
			<a href="#top">Back to top</a>
		</div>
	</div>
</div>
