<!doctype html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width">
<title>{% if page.title %}{{page.title}}{% else %}{{site.title}}{% endif %}</title> 
<meta name="description" content="{% if page.description %}{{page.description}}{% else %}{{site.description}}{% endif %}">
<link rel="canonical" href="{{site.baseurl}}{{page.url}}"
<link rel="apple-touch-icon" href="{{site.baseurl}}/images/icon/favicon.svg">
<link rel="shortcut icon" type="image/x-icon" href="{{site.baseurl}}/images/icon/favicon.svg">
<link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
<link rel="stylesheet" href="{{site.baseurl}}/css/update.css">
<link rel="stylesheet" href="https://use.typekit.net/bff2sws.css">
<link rel="stylesheet" href="https://use.typekit.net/krd0wfa.css">
<script src="{{site.baseurl}}/scripts/modernizr.custom.js"></script>
<script type="text/javascript">

	var module = document.querySelector(".post_block_notes p");

	$clamp(module, {clamp: 2});

</script>
</head>
<body>
<header role="banner" class="page-header" id="top">
	<div id="logo" class="logo">
	<a href="{{site.baseurl}}/index.html">
	<img src="{{ site.baseurl }}/images/logo.svg" alt="lulldull"></a>
	</div>
<!-- 	<h1><a href="{{site.baseurl}}/index.html">{{site.title}}</a></h1> -->
	<!-- <div class="tagline">{{site.tagline}}</div> -->
<nav role="navigation">

<!-- <ul class="menu">
	<li><a href="{{site.baseurl}}/index.html" title="Articles">Blog</a></li>
	<li><a href="{{site.baseurl}}/about.html" title="learn more">About</a></li>
	<li><a href="{{site.baseurl}}/tags/" title="Archive">Archive</a></li>
</ul> -->
</header>
	<div class="content1">
	{{content}}
		{% if page.id %}
			{% include footer-post.html %}
		{% else %}
			{% include footer.html %}
		{% endif %}
	</div>
</body>
</html>
