---
layout: default
page-type: post
---
<main role="main" class="cf">

{% include sidebar.html %}

<div class="right_container">



<article class="posts">

    <article role="article">



    {% if page.link %}
            <div class="page_header">
            <a href="{{ page.link }}" target="_blank">
                {% if page.alt %}
                   <div class="post_title">{{ page.alt }}</div>
                {% elsif page.artist %}
                    <div class="post_title">{{ page.title }}</div>
                {% else %}
                    <div class="post_title">{{ page.title }} {% if page.author %}{% endif %}</div>
                {% endif %}
            </a>
            <div class="page_link">
                <a href="{{ page.link }}" target="_blank">
                    <div class="link_line">More Information</div>
                </a>
            </div>
            <div class="date_container">
                <div class="date_line">{{page.date | date: "%B %-d, %Y"}}</div>
            </div>
        </div>
        <hr class="header_hr">
     {% else %}
        <div class="page_header">
            {% if page.alt %}
               <div class="post_title">{{ page.alt }}</div>
            {% elsif page.artist %}
               <div class="post_title">{{ page.title }}</div>
            {% else %}
                <div class="post_title">{{ page.title }} {% if page.author %} {% endif %}</div>
            {% endif %}
            <div class="date_container">
                <div class="date_line">{{page.date | date: "%B %-d, %Y"}}</div>
            </div>
        </div>
        <hr class="header_hr">
    {% endif %}








        {% if page.notes %}
            <div class="info_container">
                <div class="highlight2">{{ page.notes }}</div>
            </div>
        {% endif %}


        {{content}}

        <footer class="post-footer">
                {% for tag in page.tags %}
                    <div class="post_tag">
                        <a href="{{site.baseurl}}/tags/index.html#{{tag | cgi_escape}}" title="Posts tagged {{tag}}">{{tag}}</a>
                    </div>
                {% unless forloop.last %}{% endunless %} {% endfor %}
        </footer>
    </article>



    <section class="post-links">
          {% if page.previous.url %}
            <p class="prevLink"><a class="previous" href="{{ site.baseurl }}{{page.previous.url}}">{{page.previous.title}}</a></p>
          {% endif %}
          {% if page.next.url %}
            <p class="nextLink"><a class="next" href="{{ site.baseurl }}{{page.next.url}}">{{page.next.title}}</a></p>
          {% endif %}
	</section>

</article>

</div>


</main>
