---
layout: default
page-type: post
---

<main role="main" class="cf">

{% include sidebar.html %}

<div class="right_container">



<article class="posts">

    <article role="article">

        <div class="page_block">

            <div class="page_block_top_info">

                <div class="post_header">
                    {{ page.date | date: "%Y-%m-%d" }}
                </div>

                <div class="post_header">
                    {% if page.alt %}
                        {{ page.alt }}
                    {% else %}
                        {{ page.title }} {% if page.author %}{% endif %}
                    {% endif %}
                </div>

                <div class="post_block_artist">
                    {% if page.artist %}
                        CREATOR: <span class="post_entry">{{ page.artist }}</span>
                    {% elsif page.author %}
                        CREATOR: <span class="post_entry">{{ page.author }}</span>
                    {% else %}
                        CREATOR: <span class="post_entry">Unknown</span>
                    {% endif %}
                </div>

                {% if page.year %}
                <div class="post_block_artist">
                    YEAR: <span class="post_entry">{{ page.year }}</span>
                </div>
                {% else %}
                {% endif %}

    
                    {% if page.category %}
                    <div class="post_block_artist">
                        CATEGORY: <span class="post_entry">{{ page.category }}</span>
                    </div>
                    {% elsif page.series %}
                    <div class="post_block_artist">
                        SERIES: <span class="post_entry">{{ page.series }}</span>
                    </div>
                    {% else %}
                    {% endif %}


                {% if page.link %}
                <div class="post_block_artist">
                        {% if page.linktext %}
                            LINK: <span class="post_entry_icon">
                                <a href="{{ page.link }}" target="_blank" style="color:#555555">
                                    {{ page.linktext }}
                                </a>
                                <div class="icon_small"><img src="{{ site.baseurl }}/images/link.svg" alt="download"></div>
                            </span>
                        {% else %}
                            LINK: <span class="post_entry_icon">
                                <a href="{{ page.link }}" target="_blank" style="color:#555555">
                                    More Information
                                </a>
                                <div class="icon_small"><img src="{{ site.baseurl }}/images/link.svg" alt="download"></div>
                            </span>
                        {% endif %}
                </div>
                {% else %}
                {% endif %}


                <div class="post_block_notes">
                    <div class="page_block_notes_content">
                        {% if page.notes %}
                            NOTES:  <span class="post_entry"> {{ page.notes }}</span>
                        {% else %}
                            NOTES: <span class="post_entry">Noone's written anything yet.</span>
                        {% endif %}
                    </div>
                </div>




                {% if page.download %}
                    <div class="post_block_artist">
                        DOWNLOAD: <span class="post_entry_icon">
                            <a href="{{ page.download }}" target="_blank" style="color:#555555">
                                {{ page.dltext }}
                            </a>
                            <div class="icon_small"><img src="{{ site.baseurl }}/images/download.svg" alt="download"></div>
                        </span>

                    </div>
                {% else %}
                {% endif %}

                <div class="page_block_tags">
                    <footer class="page_footer">
                            {% for tag in page.tags %}
                                <div class="post_tag2">
                                    <a href="{{site.baseurl}}/tags/index.html#{{tag | cgi_escape}}" title="Posts tagged {{tag}}">{{tag}}</a>
                                </div>
                            {% unless forloop.last %}{% endunless %} {% endfor %}
                    </footer>
                </div>

            </div>
        </div>





<div class="divider_01"></div>




<!--         {% if page.notes %}
            <div class="info_container">
                <div class="highlight2">{{ page.notes }}</div>
            </div>
        {% endif %} -->


        {{content}}

<div class="divider_02"></div>

        <footer class="post-footer">
                {% for tag in page.tags %}
                    <div class="post_tag">
                        <a href="{{site.baseurl}}/tags/index.html#{{tag | cgi_escape}}" title="Posts tagged {{tag}}">{{tag}}</a>
                    </div>
                {% unless forloop.last %}{% endunless %} {% endfor %}
        </footer>
    </article>


<!-- 
    <section class="post-links">
          {% if page.previous.url %}
            <p class="prevLink"><a class="previous" href="{{ site.baseurl }}{{page.previous.url}}">{{page.previous.title}}</a></p>
          {% endif %}
          {% if page.next.url %}
            <p class="nextLink"><a class="next" href="{{ site.baseurl }}{{page.next.url}}">{{page.next.title}}</a></p>
          {% endif %}
	</section> -->

</article>

</div>


</main>
