---
layout: default
page-type: post
---
<main role="main" class="cf">

{% include sidebar.html %}

<div class="right_container">

<article class="posts">

    <article role="article">

        <header>
            {% if page.alt %}
                <h2>{{ page.alt }}</h2>
            {% elsif page.artist %}
                <h2>{{ page.title }} ({{ page.artist }})</h2>
            {% else %}
                <h2>{{ page.title }} {% if page.author %}({{ page.author }}){% endif %}</h2>
            {% endif %}

            {% if page.notes %}
                <h2>{{ page.notes }}</h2>
            {% endif %}
        </header>

        <div class="info_container">
            <div class="highlight2">{{page.date | date: "%B %-d, %Y"}}</div>
        </div>

        {{content}}

        <footer class="post-footer">
                {% for tag in page.tags %}
                    <div class="post_tag">
                        <a href="{{site.baseurl}}/tags/index.html#{{tag | cgi_escape}}" title="Posts tagged {{tag}}">{{tag}}</a>
                    </div>
                {% unless forloop.last %}{% endunless %} {% endfor %}
        </footer>
    </article>



    <section class="post-links">
          {% if page.previous.url %}
            <p class="prevLink"><a class="previous" href="{{ site.baseurl }}{{page.previous.url}}">{{page.previous.title}}</a></p>
          {% endif %}
          {% if page.next.url %}
            <p class="nextLink"><a class="next" href="{{ site.baseurl }}{{page.next.url}}">{{page.next.title}}</a></p>
          {% endif %}
	</section>

</article>

</div>


</main>
